@using TravelTripProject.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body> 
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px">Tatil & Seyahat Bloğum</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restaurantlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Aktiviteler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px; height:365px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                <li><img src="@x.BlogImage" alt=""></li>
                                @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                <li><img src="~/web/images/img3.jpg" alt=""></li>
                                <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Seyahat Bloğuma Hoşgeldiniz!</h3>
                    <p>Önünden geçip giderken merak edip de bi’ uğramadığım yer bırakırsam içim rahat etmiyor. Huyum kurusun, hemen bildiğimi herkesle paylaşmak istiyorum. Ben yaptım siz de gidip görün, tadın, deneyin istiyorum. Daha bir yeri yeni keşfetmişken, bir başka yere ayak basma hayalleri kuruyor ve anında “ne zaman ve nasıl giderim” planları yapmaya başlıyorum. Hiç doymuyoruz yani, sürekli daha fazla gezmeye aç bir şekilde geziyorum.. Aç demişken, öyle çok zengin falan da değilim. Didinip, biriktirip çıkıyorum yollara.. Sponsorum, finansörüm de yok maalesef ki elimden tutsun da yolumu açsın, kendi yağımda kavruluyorum. Ama çok eğleniyorum! Devamlı eğlenecek bir şey buluyorum kendime. En kötü hostel odalarında, en hüsrana uğradığım müzelerde, en kirli şehirlerde bile “Neden buraya geldik ki sanki?!” dememek için illa bir aktivite yaratıyorum kendime. Yani hem ekonomik hem de efektif seyahatler peşindeyim. Ama özellikle az bilinen yerleri keşfetmek bizim için ayrı bir haz. Özetle gezmeyi ve paylaşmayı çok seviyorum. Zaten bunun için buradayım</p>
                </div>
                @Html.Action("Partial1","Default")
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>


