
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>WhatsApp : +90 535 355 3535</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Default/Index/">Ana sayfa</a></li>
                <li><a class="hsubs" href="/About/Index/">Hakkımızda</a></li>
                <li>
                    <a class="hsubs" href="destinations.html">Rehber</a>
                    <ul class="subs">
                        <li><a href="https://www.enuygun.com/otel/">Oteller</a></li>
                        <li><a href="https://www.tripadvisor.com.tr/Restaurants">Restoranlar</a></li>
                        <li><a href="https://www.seturday.com/kultur-sanat/avrupada-gorulmesi-gereken-sanat-muzeleri-ve-galeriler">Müzeler</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="/Blog/Index/">Blogum</a></li>
                <li><a href="Iletisim/Index/">İletişim</a></li>
            </ul>
        </div>
    </div>
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Bilgileri</h3>
                <p>Gezmek, Görmek, Deneyimlemek ve Birlikte Keşfetmek için Benimle İletişime Geçebilirsin... Ha bu arada deneyimlerini benimle paylaşırsan eğer çok mutlu olurum sabırsızlıkla bekliyorum... </p>
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="Ad Soyad:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Mail:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Telefon:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                    </div>
                    <div>
                        <p><span class="read">Submit</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres</h3>
                        <p>#68100 Aksaray / Türkiye</p>
                        <p>Telefon: +90 535 35335</p>
                        <p>Mail:<a href="mailto:signup@gmail.com">ozlmkrkoc@gmail.com</a></p>
                    </div>

                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3128.297447573966!2d34.00857623967785!3d38.36523992093323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d670e51a8b0b7f%3A0xe621759e8824b0bd!2sAksaray%2C%20Aksaray%20Merkez%2FAksaray!5e0!3m2!1str!2str!4v1698727904567!5m2!1str!2str" width="580" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2023 Easy-Trip. Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com">Özlem KARAKOÇ</a></p>
            </div>
        </div>
    </div>
</body>
</html>
